section {
  height: 100%;
  width: calc(70vw - 1px);
  border-left: 1px solid black;
}

.title-component {
  background-color: gainsboro;
}

h3 {
  margin: 0;
  padding-top: 16px;
  padding-left: 16px;
  font-weight: 500;
}

.example-list {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.example-box {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  background-color: #fff;
  cursor: move;
}
