main {
  display: flex;
  height: 100vh;
}

.form-builder {
  height: 100%;
  width: calc(70vw - 1px);
  border-left: 1px solid black;
}

.title-component {
  background-color: gainsboro;
}

h3 {
  margin: 0;
  padding-top: 16px;
  padding-left: 16px;
  font-weight: 500;
}

.components {
  background-color: gainsboro;
  height: 100%;
  width: 30vw;
}

p {
  margin: 0;
  padding-top: 16px;
  padding-left: 16px;
  font-weight: 400;
}

mat-card {
  max-width: 110px;
  background-color: white;
  margin: 16px;
  align-items: center;
}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
