<main>


    <mat-form-field>
        <input matInput placeholder="Date">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Number">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-select placeholder="Layout">
            <mat-option value="General">General</mat-option>
            <mat-option value="Text field">Text field</mat-option>
            <mat-option value="Checkbox">Checkbox</mat-option>
            <mat-option value="Radio">Radio</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-select placeholder="Options source">
            <mat-option value="Static options">Static options</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-select placeholder="Validation">
            <mat-option value="Custom properties">Custom properties</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="ABC">
    </mat-form-field>
</main>